<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>requirements</title>
  <style>
    code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    div.columns{display: flex; gap: min(4vw, 1.5em);}
    div.column{flex: auto; overflow-x: auto;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    /* The extra [class] is a hack that increases specificity enough to
       override a similar rule in reveal.js */
    ul.task-list[class]{list-style: none;}
    ul.task-list li input[type="checkbox"] {
      font-size: inherit;
      width: 0.8em;
      margin: 0 0.8em 0.2em -1.6em;
      vertical-align: middle;
    }
    .display.math{display: block; text-align: center; margin: 0.5rem auto;}
  </style>
  <link rel="stylesheet" href="Templates/ERB/style.css" />
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->

  	<script type="text/javascript">
// Source: https://stackoverflow.com/questions/19646684/force-open-the-details-summary-tag-for-print-in-chrome
// Open all details tags when printing.
window.addEventListener( 'beforeprint', () => {
    [].forEach.call( document.querySelectorAll( 'details' ), el => el.setAttribute( 'open', '' ) )
} )

// Close all details tags after printing.
window.addEventListener( 'afterprint', () => {
    [].forEach.call( document.querySelectorAll( 'details' ), el => el.removeAttribute( 'open' ) )
} )
  	</script>
</head>
<body>
<nav id="TOC" role="doc-toc">
<ul>
<li><a href="#requirements" id="toc-requirements">Requirements</a>
<ul>
<% SORTED_SPECS.each do |spec_name, afos| %>
<li><a href="#<%= spec_name %>" id="<%= spec_name %>"><%= spec_name %></a>
	<ul>
<% afos.each do |afo_name, details| %>
	<li><a href="#<%= afo_name %>" id="toc-<%= afo_name %>"><%= afo_name %></a></li>
<% end %>
	</ul>
</li>
<% end %>
</ul>
</li>
</ul>
</nav>

<h1>Requirements</h1><% SORTED_SPECS.each do |spec_name, afos| %>

<h2 id="<%= spec_name %>"><%= spec_name %></h2>

<% afos.each do |afo_name, details| %>

<h3 id="<%= afo_name %>"><%= afo_name %>
<a href="https://gemspec.gematik.de/search?<%= afo_name %>">🔗</a>
</h3>


<% details.each do |details| %>

<% if details['source'] == "intro" %>
<p><%= details['description'] %></p>
<% else %>
<%= "<h4>#{details['part']} </h4>" if details['part'] %>
<p><%= details['description'] %></p>
<details><summary><%= details['file'].sub("../", "") %>:<%= details['line']+13 %><a class="github" href="https://github.com/gematik/E-Rezept-App-iOS/blob/master/<%= details['file'].sub("../", "") %>#L<%= details['line']+13 %>">Github</a></summary>
<pre>
<%= details['code'] %>
</pre>
</details>

<% end %>

<% end %>

<% end %>
<% end %>

</body>
</html>
